<h1>Example heading <span class="badge badge-secondary">New</span></h1>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
      <th scope="col"> </th>

    </tr>
  </thead>

  <% for(let i=0;i<Empdata.length;i++) { %>
  <tr>
    <td><%= Empdata[i].name %></td>
    <td><%= Empdata[i].email %></td>

    <!-- <% if(!Empdata[i].is_admin){ %>
    <td><button class=" btn btn-primary" onclick="location.href='/admin/addasAdmin/?id=<%= Empdata[i].id%>'">Make Admin</button></td>
    <% }else{ %>
    <td><button class="btn btn-danger" onclick="location.href='/admin/removeasAdmin/?id=<%= Empdata[i].id%>'"">Remove Admin</button ></td>
    <% } %> -->
    <td><a id=" removeEmp" href="/employee/admin/map/?id=<%= Empdata[i].id %>">Edit Member</a></td>
    <td><a id="removeEmp" href="/employee/delete/?id=<%= Empdata[i].id %>">Remove</a></td>
    <% if(Empdata[i].id==admin_id){ %>
    <td>
      <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
        <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
      </span>
    </td>
    <% }else{ %>
    <td></td>
    <% } %>
  </tr>
  <% } %>
</table>